PORT=3000

# Comunes
DB_USER=myuser
DB_PASS=supersecret
DB_NAME=mydb

# Si usas Connector:
INSTANCE_CONNECTION_NAME=project:region:instance  # ej: myproj:us-east1:db-master

# Si usas IP privada/pública:
DB_HOST=10.10.0.5        # privada (o la IP pública)
DB_PORT=5432             # 3306 para MySQL